.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
  margin: 0px;
}

.nav-items {
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 5px;
  margin: 5px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  width: 200px;
  /* height: 400px; */
  background-color: #f0f0f0;
  padding: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 200px;
}

.filter-btn {
  /* margin: 10px; */
  cursor: pointer;
}

.search-filter-container {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  background: lightgray;
  margin: 20px;
}
